footer
    +gradient(0deg, $azul-claro, transparent)
    padding: 2rem 0;

    .logo-rodape
        img
            width: 110px;
            height: 78px;
            display: block;
            margin: 0 auto;

        p
            margin-top: 30px;
            text-align: center;